/.idea
/vendor
/composer.lock
/temp
/log
/app/Config/credentials_dev.neon
/app/Config/credentials_prod.neon
/public/fontawesome
/public/css/bootstrap
/public/css/*.css
/public/css/*.map
/public/js/build/*
/node_modules
.env
