@import "bootstrap/functions"
@import "bootstrap/variables"
@import "bootstrap/mixins"
@import "bootstrap/root"
@import "bootstrap/reboot"
@import "bootstrap/type"
@import "bootstrap/images"

@import 'bootstrap/grid'
@import 'bootstrap/tables'
@import 'bootstrap/buttons'
@import 'bootstrap/card'
@import 'bootstrap/badge'
@import 'bootstrap/utilities'
@import 'bootstrap/navbar'
@import 'bootstrap/forms'
@import 'bootstrap/input-group'
@import 'bootstrap/modal'
@import 'bootstrap/nav'
@import 'bootstrap/alert'
@import 'bootstrap/custom-forms'
@import 'bootstrap/list-group'
@import 'bootstrap/close'
@import 'bootstrap/pagination'
@import 'bootstrap/transitions'

body
  font-family: Dosis, sans-serif
  background: #F0F3F5

main
  background: #fff
  padding: 1em 1.5em!important
  position: relative

.header
  background: #111 url("/img/test.png") center top fixed
  background-size: cover
  .top
    background-color: rgba(0, 0, 0, 0.5)
    color: #fff
    padding: .2em
    border-bottom: 5px solid #fff
    .navbar-custom
      background: transparent
      .nav-link
        font-family: 'PowerStation', sans-serif
        color: #fff
        padding: 0 .8rem
        font-size: 1.2em
        &.active, &:hover, &:focus, &:active
          color: #edef07
    .logo-mobile
      height: 30px
  .main
    background: linear-gradient(rgba(0,0,0,.4), transparent)
    .logo
      text-decoration: none
      margin: 1.3em
      display: flex
      align-items: center
      img
        height: 100px
        margin-right: 1em
      span
        font-family: 'PowerStation', sans-serif
        color: #fff
        font-size: 60px
        text-transform: uppercase
    .buttons
      display: flex
      align-items: center
      justify-content: flex-end
      height: 100%
      .btn
        outline: none
        display: block
        background: #0000006b
        border-radius: 50px
        color: #f8f800
        margin: 0.5em
        border: 3px dashed #f8f800
        font-weight: 600
        text-transform: uppercase
        &:hover
          outline: none
          border-color: #fff
          color: #fff

.card
  background: transparent
  margin-bottom: 1em
  border-radius: 0
  border: none
  .card-header
    font-size: 1rem
    border-radius: 0
    color: #111
    text-transform: uppercase
    border-bottom: none
    h1, h2
      font-size: 1rem
    &.discord
      background: #6275C1
    &.premium
      background: #6d70d2
  .card-body
    background: #fff
    &.transparent
      background: #ffffffec

.page
  .card
    .card-header
      background: #F0F3F5
      text-align: left
    .card-body
      border: 1px solid #f0f3f5

.sidebar
  .card
    .card-header
      background: #f0f3f5
      text-align: center
      border-bottom: none
    .card-body
      border: 1px solid #f0f3f5

.partners
  text-align: center
  .card-body
    padding: 0 1.25rem
    .craftlist
      font-family: 'PowerStation', sans-serif
      color: #111
      font-size: 3.5em
      text-transform: uppercase

.tooltip
  font-family: 'PowerStation', sans-serif
  background: #000
  border-radius: .2rem
  color: #fff
  padding: .3em .7em
  opacity: 1
  text-shadow: none
  font-weight: normal


@font-face
  font-display: swap
  font-family: 'PowerStation'
  font-style: normal
  font-weight: 400
  src: local('PowerStation'), local('PowerStation'), url("/fonts/powerStation.ttf") format('truetype')
