search:
	model:
		in: %appDir%/Model
		classes:
			- *Facade
			- *Factory
			- *Finder
			- *Generator
			- *Repository
			- *Authenticator
			- *Subscriber
			- *Provider
			- *Sorter
			- *Manager
			- *Config
