extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    archette.country: Archette\Country\CountryExtension
    archette.ipAddress: Archette\IpAddress\IpAddressExtension
    archette.currency: Archette\Currency\CurrencyExtension
    archette.language: Archette\Language\LanguageExtension
    translation: Contributte\Translation\DI\TranslationExtension
    events: Contributte\EventDispatcher\DI\EventDispatcherExtension
    thumbnail: App\Bridge\Nette\Thumbnail\ThumbnailExtension


archette.currency:
    apiKey: %currency.apiKey%


http:
    headers:
        X-Powered-By: PHP 6 + 2


translation:
    locales:
        whitelist: [en, cs]
        default: en
    dirs:
        - %appDir%/../translations


console:
    lazy: false


application:
    errorPresenter: Front:Error
    mapping:
        *: ['App\Module', '*', '*\*Presenter']


session:
    expiration: 14 days


services:
    routerFactory: App\Router\RouterFactory
    router: @routerFactory::create
    latte.templateFactory:
        arguments:
            user: null


database:
    dsn: 'mysql:host=%database.host%;dbname=%database.dbname%'
    user: %database.user%
    password: %database.password%
    options:
        lazy: true


includes:
    - doctrine.neon
    - model.neon
    - console.neon
    - front.neon
    - admin.neon
    - api.neon
    - ui.neon
