search:
    model:
        in: %appDir%/Model
        classes:
            - *Facade
            - *Factory
            - *Finder
            - *Generator
            - *Repository
            - *Authenticator
            - *Subscriber
            - *Provider
            - *Sorter
            - *Manager
            - *Config

services:
    discordWebhook: App\Model\Discord\DiscordWebhook(%discord.webhookUrl%)
    discordMessenger: App\Model\Discord\DiscordMessenger(%discord.englishAnnoucements%, %discord.czechAnnoucements%)
    rconCredentials: App\Model\Rcon\RconCredentials(%server.rconPassword%, %server.rconProxyHost%, %server.rconProxyPort%)
    paypalCredentials: App\Model\Payment\PayPal\PayPalCredentials(%paypal.clientId%, %paypal.clientSecret%)
