about: "O našem projektu"
aboutContent: "Projekt Minecord byl založen v roce 2018. Od jeho založení dávame důraz na kvalitu naších herních serverů a naše specializace jsou minihry, najdeš u nás ale i Survival, Skyblock a Creative servery. Systém a minihry si programujeme sami, a všechna naše práce je open-source."
social: "Kde nás najdeš"
infoAndContact: "Info a kontakt"
copyright: "všechna práva vyhrazena"
joinUs: "Přidej se k nám, jsme open-souce"
links:
    facebookUrl: "https://www.facebook.com/minecord.cz/"
    rules: "Pravidla"
    privacyPolicy: "Ochrana soukromí"
    technicalBackground: "Technické zázemí"
    contact: "Kontakt"
contactModal:
    discord: "Kontaktuj nás přes náš discord"
