about: "O našom projekte"
aboutContent: "Projekt Minecord bol založený v roku 2018. Dávame dôraz na kvalitu naších herných serverov a špecializujeme sa na Minihry, no nájdeš tu tiež tiež Survival, Skyblock a Creative servery. Server si programujeme sami, a všetka naša práca je open-source."
social: "Kde nás najdeš"
rulesAndContact: "Pravidla a kontakt"
copyright: "všechna práva vyhrazena"
joinUs: "Přidej se k nám, jsme open-souce"
links:
    termsOfServices: "Smluvní podmínky"
    privacyPolicy: "Pravidla"
    help: "Pomoc"
    contact: "Kontakt"
