ip: "mc.minecord.cz"
ipCopy: "Zkopírovat IP adresu"
ipCopied: "IP Zkopírována"
welcome: "Minihry, Survival, Skyblock, Creative a mnoho dalšího!"
title: "Minecord"
description: "Minecraft server"
joinToServer: "Připojit se k <span>%playerCount%</span> dalším hráčům"
discord: "Discord server"
play: "Začít hrát"
menu:
    blog: "Novinky"
    store: "Obchod"
    vote: "Hlasovat"
    rules: "Pravidla"
    contact: "Kontakt"
    survivalOnlineMap: "Survival mapa"
    creativeOnlineMap: "Creative mapa"
joinModal:
    howToJoin: "Jak se připojit?"
    ourIpIs: "Naše minecraft IP adresa je <strong>mc.minecord.cz</strong>"
    warezInfo: "Nemáš originálni minecraft? Stáhni si launcher zde"
    done: "Hotovo"
