ip: "mc.minecord.cz"
ipCopy: "Zkopírovat IP adresu"
ipCopied: "IP Zkopírována"
welcome: "Minihry, Survival, Skyblock, Creative a mnoho dalšího!"
title: "Minecord"
description: "Minecraft server"
joinToServer: "Připojit se k <span>%playerCount%</span> dalším hráčům"
joinToEmptyServer: "Připojit se na server"
discord: "Discord server"
play: "Začít hrát"
stop: "Server byl z technických důvodů a nedostatku času vypnut na neurčito."
menu:
    blog: "Novinky"
    vip: "VIP"
    store: "Obchod"
    vote: "Hlasovat"
    rules: "Pravidla"
    contact: "Kontakt"
    onlineMaps: "Online mapy"
    survivalOnlineMap: "Survival mapa"
    creativeOnlineMap: "Creative mapa"
joinModal:
    howToJoin: "Jak se připojit?"
    ourIpIs: "Naše minecraft IP adresa je <strong>mc.minecord.cz</strong>"
    warezInfo: "Nemáš originálni minecraft? Nevadí, stáhni si warez launcher na tomto odkazu"
    done: "Hotovo"
