welcome: "Vítej na webstránkach herního serveru Minecord.cz"
title: "Minecord"
description: "Minecraft server"
currentPlayerCount: "Na serveru právě hraje %playerCount% hráčů"
currentDiscordUserCount: "Na discordu je právě %userCount% lidí"
menu:
    blog: "Blog"
    store: "Obchod"
    vote: "Hlasovat"
    rules: "Pravidla"
    contact: "Kontakt"
