continueReading: "Zobrazit celý příspěvek"
title: "Minecord.cz"
description: "Český a slovenský minecraft server s Minihrami, Survivalem, Skyblockem a mnoho dalšími servermi. Nalezneš u nás stále nejnovější verzi a ochotný admin tým."
