title: "Hlasování"
alert: "Na konci měsíce vyhraje top 5 hráčů s nejvíc hlasy skvělé odměny!"
info: "Podpoř náš server hlasováním na online serverlistech, tvoje hlasy posouvají server v seznamech nahoru, za každý hlas získáš odměnu!"
topVotersThisMonth: "Top hlasujíci tento měsíc"
topVotersLastMonth: "Top hlasujúci minulý měsíc"
voteCount: "Počet hlasů"
lastVote: "Poslední hlas"
modal:
    title: "Hlasuj za náš server na "
    sendVote: "Přejít na hlasování"
    info: "Zde můžeš hlasovat <strong>jednou denně</strong>, za hlas získaš <strong>Vote Klíč</strong>."
