ip: "mc.minecord.net"
ipCopy: "Copy IP address"
ipCopied: "IP Copied"
welcome: "Minigames, Survival, Skyblock, Creative and more!"
title: "Minecord"
description: "Minecraft server"
joinToServer: "Join to <span>%playerCount%</span> online players"
discord: "Discord server"
play: "Join Game"
menu:
    blog: "News"
    vip: "VIP"
    store: "Store"
    vote: "Vote"
    rules: "Rules"
    contact: "Contact"
    onlineMaps: "Online maps"
    survivalOnlineMap: "Survival map"
    creativeOnlineMap: "Creative map"
joinModal:
    howToJoin: "How to join our server?"
    ourIpIs: "Our minecraft IP address is <strong>mc.minecord.net</strong>"
    warezInfo: "You don't own original minecraft? Download warez version by clicking to this link"
    done: "Done"
