title: "Activate VIP"
latestActivations: "Latest activations"
paypal: 
    payment: "PayPal Payment for"
    nickname: "Nickname"
    package: "Package"
    price: "Price"
    continue: "Pay with PayPal or Credit Card"
card: "Card"
successfullyActivated: "Package was successfully activated, check the game!"
