{templateType Minecord\Module\Front\BaseFrontTemplate}
<div class="card partners">
    <div class="card-header">{_'sidebar.partners'}</div>
    <div class="card-body">
        <a target="_blank" class="craftlist" href="https://craftlist.org">
            Craftlist
        </a>
    </div>
</div>
