{templateType Minecord\Module\Front\BaseFrontTemplate}
<div class="card discord">
    <div class="card-header">Discord Server</div>
    <div class="card-body">
        <p>{$system->getDiscordMemberList()}</p>
        <a target="_blank" class="btn btn-discord btn-block text-uppercase font-weight-bold" href="{_'sidebar.discordInvite'}">{_'sidebar.discordJoin'}</a>
    </div>
</div>
