{templateType Minecord\Module\Front\BaseFrontTemplate}
<div class="card discord">
    <div class="card-header">Discord Server</div>
    <div class="card-body">
        <p>Ethxrnity, Marek2810, Nexusatko, PedrosCrafos, percyruin, Renzotom, Rixafy, Satanist, Sejrovec, simonpanek8, Taiwan, TrollíííkCz (Ten nejlepší &lt;3), Vladko_Man, Wake, William Afton, 𝓜𝓲𝓷𝓮𝓜𝓪𝔁𝓒𝓩</p>
        <a target="_blank" class="btn btn-discord btn-block text-uppercase font-weight-bold" href="{_'sidebar.discordInvite'}">{_'sidebar.discordJoin'}</a>
    </div>
</div>
