{extends $originalTemplate}

{block icon-sort-up}<i class="mdi mdi-sort-ascending"></i>{/}
{block icon-sort-down}<i class="mdi mdi-sort-descending"></i>{/}
{block icon-remove}<i class="mdi mdi-delete"></i>{/}
{block icon-arrows-v}<i class="mdi mdi-arrow-up-down"></i>{/}
