{templateType App\Module\Admin\Dashboard\DashboardTemplate}
{block title}Nástenka{/block}
{block content}

{snippetArea titlesWrapper}
    {includeblock '../@Layout/header.latte'}
{/snippetArea}

<div class="container-fluid">
    Grafy
</div>
