<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                Copyright © {date('Y')} Minecord.net. All rights reserved.
            </div>
        </div>
    </div>
</footer>